#editor{
	position: fixed;
	display: block;
	top: 6.5em;
	left: 12.5em;
}
#editorwrapper{
	position: absolute;
	height: 0;
	width: 0;
	top: 41px;
	left: 160px;
	display: none;
}
#editor_save{
	margin-left: 7px;
	float: left;
}
#saving_icon{
	margin-top: 3px;
	float: left;
}


#comments{
	border-bottom: 2px solid black;
	max-height: 200px;
	overflow-y: scroll;
}

#comments .comment{
	border-top: 1px solid black;
}

.comment .comment_user{
	border: 1px solid #EEE;
font-weight: bold;
padding: 2px;
overflow: auto;

}

.comment .comment_text{
	padding:2px;
}

.btnComment{
	 float:right; 
	 font-size:0.6em;
}
#comment_area{
	
	width:90%;
}


#progressbar{
	display:none;
	bottom:0;
	position:fixed;
	width:100%;
}
